<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/js/progress-bar/number-pb.css}">
<link th:href="@{/plugs/sweetalert/sweetalert.css}" rel="stylesheet">
<link th:href="@{/plugs/alert/css/alert.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/plugs/alert/js/alert.js}"></script>
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='stockManager')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->


			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">
						<div class="body-nest" id="alert" th:if="${errorImport!=''}">
							<div class="alert alert-danger">
								<button data-dismiss="alert" class="close" type="button">×</button>
								<th:block th:utext="${errorImport}">
								</th:block>
							</div>

						</div>


						<div class="nest" id="tableStaticClose">

							<div class="title-alt">
								<div class="row">
									<div class="col-sm-12">

										<shiro:hasPermission name="projectStock:add">
											<button class="btn btn-default btn-sm"
												th:onclick="|window.location.href='@{/projectStock}'|">
												<i class="glyphicon glyphicon-plus"> </i> 添加
											</button>
										</shiro:hasPermission>

										<shiro:hasPermission name="projectStock:edit">
											<button class="btn btn-primary btn-sm"
												onclick="return toeditPage('','projectStock')">
												<i class="fa fa-edit"> </i>编辑
											</button>
										</shiro:hasPermission>

										<shiro:hasPermission name="projectStock:delete">
											<button class="btn btn-danger btn-sm"
												th:onclick="|return del('','@{/projectStock/}')|">
												<i class="fa fa-trash-o"> </i>删除
											</button>
										</shiro:hasPermission>

										<shiro:hasPermission name="projectStock:batch">
											<button class="btn btn-success" onclick="return batchImput()">
												<i class="fontawesome-upload"> </i>批量导入
											</button>
										</shiro:hasPermission>

										<button class="btn btn-default" onclick="return showColumn()">
											<i class="entypo-list-add"> </i>显示列
										</button>

										<button class="btn btn-default" onclick="return toExport()">
											<i class="entypo-export"> </i>导出项目库存报表
										</button>


									</div>
									<div class="col-sm-6"></div>


								</div>
							</div>

							<div class="body-nest" id="tableStatic">

								<div class="row" style="margin-bottom: 10px;">
									<div class="col-sm-12 form-inline">
										<select class="filter-status form-control" id="pageSize"
											onchange="return searchSize()">
											<option value="10" th:selected="${pageSize == 10}">10
											<option value="20" th:selected="${pageSize == 20}">20
											<option value="50" th:selected="${pageSize == 50}">50
											<option value="100" th:selected="${pageSize == 100}">100
										</select>
										
										<select class="filter-status form-control" id="projectName"
											onchange="return searchByName()">
											<option value="">选择项目名称
											
											<option th:value="${name}"  th:each="name:${projectName}" th:selected="${name == selectProjectName}">[[${name}]]
											
										</select>
										 <input class="form-control" id="serach" placeholder="模糊匹配"
											th:value="${search}" type="text">
										<button class="btn btn-default btn-sm"
											onclick="return searchVal()">
											<i class="entypo-search"> </i> 搜索
										</button>
									</div>
								</div>


							</div>



							<section id="flip-scroll">
								<div
									style="overflow-y: auto; overflow-x: auto; white-space: nowrap; text-overflow: ellipsis;">
									<table
										class="table table-bordered table-striped cf text-nowrap  table-hover">
										<thead class="cf">
											<tr>
												<th class="numeric" style="width: 20px;">
													<div class="checkbox checkbox-inline"
														style="margin-top: 0px;">
														<input type="checkbox" id="checkall" name="checkall" /> <label
															for="checkall"></label>
													</div>
												</th>
												<th class="numeric projectName"
													th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'">项目名称</th>
												<th class="numeric supplier"
													th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'">供应商</th>
												<th class="numeric name"
													th:style="${#lists.contains(listColums,'name')}?'':'display:none;'">设备名称</th>
												<th class="numeric model"
													th:style="${#lists.contains(listColums,'model')}?'':'display:none;'">设备型号</th>
												<th class="numeric scope"
													th:style="${#lists.contains(listColums,'scope')}?'':'display:none;'">使用范围</th>
													
												<th class="numeric projectedProcurementVolume"
													th:style="${#lists.contains(listColums,'projectedProcurementVolume')}?'':'display:none;'">预计采购量</th>
													
												<th class="numeric estimatedUnitPrice"
													th:style="${#lists.contains(listColums,'estimatedUnitPrice')}?'':'display:none;'">预计采购单价</th>
													
												<th class="numeric projectedTotalPurchasePrice"
													th:style="${#lists.contains(listColums,'projectedTotalPurchasePrice')}?'':'display:none;'">预计采购总价</th>
													
												<th class="numeric actualPurchaseQuantity"
													th:style="${#lists.contains(listColums,'actualPurchaseQuantity')}?'':'display:none;'">实际采购数量</th>
													
												<th class="numeric realCostUnitPrice"
													th:style="${#lists.contains(listColums,'realCostUnitPrice')}?'':'display:none;'">实际成本单价</th>
													
												<th class="numeric totalActualCost"
													th:style="${#lists.contains(listColums,'totalActualCost')}?'':'display:none;'">实际成本总价</th>
													
												<th class="numeric paymentTime"
													th:style="${#lists.contains(listColums,'paymentTime')}?'':'display:none;'">付款时间</th>
													
												<th class="numeric paymentAmount"
													th:style="${#lists.contains(listColums,'paymentAmount')}?'':'display:none;'">付款金额</th>
													
												<th class="numeric inventory"
													th:style="${#lists.contains(listColums,'inventory')}?'':'display:none;'">库存量</th>
													
												<th class="numeric num"
													th:style="${#lists.contains(listColums,'num')}?'':'display:none;'">出库数量</th>
												<th class="numeric">使用状态</th>
												<th class="numeric">操作</th>
											</tr>
										</thead>
										<tbody>
											<!-- 目录 -->
											<th:block th:each="projectStock:${pageList.datas}"
												th:if="${projectStock?.supplier?.isDisable == false || projectStock?.supplier == null}">
												<tr>
													<td class="numeric">
														<div class="checkbox checkbox-inline"
															style="margin-top: 0px;">
															<input type="checkbox" name="ids" th:id="${projectStock.id}"
																class="numeric" th:value="${projectStock.id}"> <label
																th:for="${projectStock.id}"></label>
														</div>
													</td>

													<td class="numeric projectName" id="projectName"
														th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'">[[${projectStock?.projectName}]]</td>
														<td class="numeric supplier" id="supplier"
														th:style="${#lists.contains(listColums,'supplier')}?'':'display:none;'">
														<a href="javascript:;"
														th:onclick="|return showSupplier('${projectStock?.supplier?.id}')|">[[${projectStock?.supplier?.name}]]</a>
													</td>
													<td class="numeric name" id="name"
														th:style="${#lists.contains(listColums,'name')}?'':'display:none;'">[[${projectStock?.name}]]</td>
													<td class="numeric model" id="model"
														th:style="${#lists.contains(listColums,'model')}?'':'display:none;'">[[${projectStock?.model}]]</td>
													<td class="numeric scope" id="scope"
														th:style="${#lists.contains(listColums,'scope')}?'':'display:none;'">[[${projectStock?.scope}]]</td>
														
													<td class="numeric projectedProcurementVolume" id="projectedProcurementVolume"
														th:style="${#lists.contains(listColums,'projectedProcurementVolume')}?'':'display:none;'"
														th:text="${projectStock?.projectedProcurementVolume}"></td>
														
													<td class="numeric estimatedUnitPrice" id="estimatedUnitPrice"
														th:style="${#lists.contains(listColums,'estimatedUnitPrice')}?'':'display:none;'">[[${projectStock?.estimatedUnitPrice}]]</td>
														
													<td class="numeric projectedTotalPurchasePrice" id="projectedTotalPurchasePrice"
														th:style="${#lists.contains(listColums,'projectedTotalPurchasePrice')}?'':'display:none;'">[[${projectStock?.projectedTotalPurchasePrice}]]</td>
														
													<td class="numeric actualPurchaseQuantity" th:id="|actualPurchaseQuantity_${projectStock?.id}|"
														th:style="${#lists.contains(listColums,'actualPurchaseQuantity')}?'':'display:none;'">[[${projectStock?.actualPurchaseQuantity}]]</td>
														
													<td class="numeric realCostUnitPrice" id="realCostUnitPrice"
														th:style="${#lists.contains(listColums,'realCostUnitPrice')}?'':'display:none;'">[[${projectStock?.realCostUnitPrice}]]</td>
														
													<td class="numeric totalActualCost" id="totalActualCost"
														th:style="${#lists.contains(listColums,'totalActualCost')}?'':'display:none;'">[[${projectStock?.totalActualCost}]]</td>
														
													<td class="numeric paymentTime" id="paymentTime"
														th:style="${#lists.contains(listColums,'paymentTime')}?'':'display:none;'">[[${projectStock?.paymentTime}]]</td>
														
													<td class="numeric paymentAmount" id="paymentAmount"
														th:style="${#lists.contains(listColums,'paymentAmount')}?'':'display:none;'">[[${projectStock?.paymentAmount}]]</td>
													<td class="numeric inventory"
														th:id="|inventory_${projectStock?.id}|"
														th:style="${#lists.contains(listColums,'inventory')}?'':'display:none;'"><label
														th:style="${projectStock?.inventory > 5}?'color:green':${projectStock?.inventory == 0?'color:red':'color:blue'}">[[${projectStock?.inventory}]]</label></td>
													<td class="numeric num"  th:id="|num_${projectStock?.id}|"
														th:style="${#lists.contains(listColums,'num')}?'':'display:none;'">[[${projectStock?.num}]]</td>
												
													<td class="numeric" th:id="disBtn+${projectStock.id}"
														th:utext="${projectStock.isDisable eq true }?|<button type='button' onclick=toDisable('${projectStock.id}','projectStock') class='btn btn-danger'>禁用</button>|:|<button type='button' onclick=toDisable('${projectStock.id}','projectStock') class='btn btn-success'>启用</button>|"></td>
													<td class="numeric"><shiro:hasPermission
															name="projectStockStatistics:in">
															<button class="btn source btn-xs"
																th:onclick="|return showStockStatistics('${projectStock.id}')|">
																<i class="entypo-download"> </i>入库
															</button>
														</shiro:hasPermission> 
														
														<shiro:hasPermission name="projectStockStatistics:out">
															<button class="btn source btn-xs"
																th:onclick="|return showStockStatistics2('${projectStock.id}')|">
																<i class="entypo-upload"> </i>出库
															</button>
														</shiro:hasPermission> 
														
														<shiro:hasPermission name="projectStockStatistics:toStock">
															<button class="btn source btn-xs"
																th:onclick="|return toeditPage('${projectStock.id}','projectStockToStock')|">
																<i class="entypo-download"> </i>添加至库存
															</button>
														</shiro:hasPermission> 
														
														
														<shiro:hasPermission name="projectStock:edit">
															<button class="btn btn-primary btn-xs"
																th:onclick="|return toeditPage('${projectStock.id}','projectStock')|">
																<i class="fa fa-edit"> </i>编辑
															</button>
														</shiro:hasPermission> <shiro:hasPermission name="projectStock:delete">
															<button class="btn btn-danger btn-xs"
																th:onclick="|return del('@{/projectStock/}${projectStock.id}','')|">
																<i class="fa fa-trash-o"> </i>删除
															</button>
														</shiro:hasPermission></td>
												</tr>
												<!-- 菜单 -->
											</th:block>


										</tbody>
									</table>
								</div>
								<form method="post" id="deleteForm">
									<input name="_method" value="delete" type="hidden">
								</form>

								<div class="row">

									<div class="col-md-12">
										<div class="col-md-6">
											<div class="dataTables_info hidden-xs"
												style="margin-top: 0px;" role="status" aria-live="polite"
												th:text="|每页显示${pageList.pageSize}行
										－ 当前页${pageList.pageNo}页 － 共${pageList.totalPage}页|"></div>
										</div>
										<div class="col-md-6">
											<ul class="pagination pagination-split pull-right"
												style="margin-top: 0px;">
												<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
													th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/projectStocks(pageNo=${pageList.upPage},pageSize=${pageSize},search=${search},id=${id},projectName=${selectProjectName})}">上一页</a>
												</li>
												<li th:each="page:${pageList.navigatepageNums}"
													th:class="${page  == pageList.pageNo}?active:''"><a
													th:href="${page eq pageList.pageNo}?'javascript:void(0)':@{/projectStocks(pageNo=${page},pageSize=${pageSize},search=${search},id=${id},projectName=${selectProjectName})}">[[${page}]]</a>
												</li>
												<li
													th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
													<a
													th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/projectStocks(pageNo=${pageList.nextPage},pageSize=${pageSize},search=${search},id=${id},projectName=${selectProjectName})}">下一页</a>
												</li>
											</ul>
										</div>
									</div>

									<!-- 分页结束 -->
								</div>

							</section>

						</div>

					</div>


				</div>

			</div>
		</div>

		<div th:replace="public/public::myModal"></div>
		<div th:replace="admin/projectStock/batch::mybatch"></div>
		<div th:replace="admin/projectStock/column::mycolumn"></div>
		<div th:replace="admin/projectStock/supplier::mysupplier"></div>
		<div th:replace="admin/projectStock/in::myprojectStockStatistics"></div>
		<div th:replace="admin/projectStock/out::myprojectStockStatistics2"></div>
	</div>
	<!-- 引入projectStocklist.js -->
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/projectStock/projectStocklist.js}"></script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/projectStock/in.js}"></script>
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/projectStock/out.js}"></script>
	<!--  END OF PAPER WRAP -->
	<script type="text/javascript"
		th:src="@{/plugs/prettyfile/bootstrap-prettyfile.js}"></script>
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>
	<!-- Sweet alert -->
	<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
	<div th:replace="public/public_js::validator"></div>
</body>

</html>
