<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link th:href="@{/plugs/alert/css/alert.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/plugs/alert/js/alert.js}"></script>
<link rel="stylesheet" th:href="@{/plugs/datapicker/datepicker3.css}">
<script type="text/javascript"
	th:src="@{/plugs/datapicker/bootstrap-datepicker.js}"></script>



</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='stockManager')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->


			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">


						<div class="nest" id="tableStaticClose">

							<div class="title-alt">
								<div class="row">
									<div class="col-sm-6">
										<button class="btn btn-default" onclick="return showColumn()">
											<i class="entypo-list-add"> </i>显示列
										</button>


									</div>
									<div class="col-sm-6"></div>


								</div>
							</div>

							<div class="body-nest" id="tableStatic">

								<div class="row" style="margin-bottom: 10px;">
									<div class="col-sm-8 form-inline">
										<select class="filter-status form-control" id="pageSize"
											onchange="return searchVal()">
											<option value="10" th:selected="${pageSize == 10}">10

											
											<option value="20" th:selected="${pageSize == 20}">20

											
											<option value="50" th:selected="${pageSize == 50}">50

											
											<option value="100" th:selected="${pageSize == 100}">100

											
										</select> <input class="form-control" id="serach" placeholder="模糊匹配"
											th:value="${search}" type="text"> <input
											class="form-control datepicker" readonly="readonly"
											id="start" placeholder="开始日期" th:value="${start}" type="text">
										<input class="form-control datepicker" readonly="readonly"
											id="end" placeholder="结束日期" th:value="${end}" type="text">

										<select class="filter-status form-control" id="type"
											name="type">
											<option value="all" th:selected="${type == 'all'}">所有

											
											<option value="in" th:selected="${type == 'in'}">入库

											
											<option value="out" th:selected="${type == 'out'}">出库

											
										</select>

										<button class="btn btn-default btn-sm"
											onclick="return searchVal()">
											<i class="entypo-search"> </i> 搜索
										</button>
										<button class="btn btn-default btn-sm"
											onclick="return clearaa()">
											<i class="entypo-search"> </i> 清空
										</button>

										<button class="btn btn-default" onclick="return toExport()">
											<i class="entypo-export"> </i>导出项目库存出入统计报表
										</button>
									</div>
								</div>

								<div class="col-sm-6"></div>

							</div>



							<section id="flip-scroll">
								<div
									style="overflow-y: auto; overflow-x: auto; white-space: nowrap; text-overflow: ellipsis;">
									<table
										class="table table-bordered table-striped cf text-nowrap  table-hover">
										<thead class="cf">
											<tr>
												<!-- 	<th class="numeric" style="width: 20px;">
													<div class="checkbox checkbox-inline"
														style="margin-top: 0px;">
														<input type="checkbox" id="checkall" name="checkall" /> <label
															for="checkall"></label>
													</div>
												</th> -->
												<th class="numeric projectName"
													th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'">项目名称</th>
												<th class="numeric stockName"
													th:style="${#lists.contains(listColums,'stockName')}?'':'display:none;'">设备名称</th>
												<th class="numeric stockModel"
													th:style="${#lists.contains(listColums,'stockModel')}?'':'display:none;'">设备型号</th>
												<th class="numeric storageTime"
													th:style="${#lists.contains(listColums,'storageTime')}?'':'display:none;'">入库时间</th>
												<th class="numeric inNum"
													th:style="${#lists.contains(listColums,'inNum')}?'':'display:none;'">入库数量</th>
												<th class="numeric depotTime"
													th:style="${#lists.contains(listColums,'depotTime')}?'':'display:none;'">出库时间</th>
												<th class="numeric outNum"
													th:style="${#lists.contains(listColums,'outNum')}?'':'display:none;'">出库数量</th>
												<th class="numeric newNum"
													th:style="${#lists.contains(listColums,'newNum')}?'':'display:none;'">库存数量</th>
												<!-- <th class="numeric revokeNum"
													th:style="${#lists.contains(listColums,'revokeNum')}?'':'display:none;'">撤销数量</th> -->
												<th class="numeric personInCharge"
													th:style="${#lists.contains(listColums,'personInCharge')}?'':'display:none;'">负责人</th>
												<th class="numeric customer"
													th:style="${#lists.contains(listColums,'customer')}?'':'display:none;'">客户</th>
												<th class="numeric user"
													th:style="${#lists.contains(listColums,'user')}?'':'display:none;'">操作人</th>
												<th class="numeric revoke"
													th:style="${#lists.contains(listColums,'revoke')}?'':'display:none;'">状态</th>

												<th class="numeric">操作</th>
											</tr>
										</thead>
										<tbody>
											<!-- 目录 -->
											<th:block th:each="stockStatistics:${pageList?.datas}">
												<tr>
													<!-- <td class="numeric">
														<div class="checkbox checkbox-inline"
															style="margin-top: 0px;">
															<input type="checkbox" name="ids"
																th:id="${stockStatistics.id}" class="numeric"
																th:value="${stockStatistics.id}"> <label
																th:for="${stockStatistics.id}"></label>
														</div>
													</td> -->
													<td class="numeric projectName" id="projectName"
														th:style="${#lists.contains(listColums,'projectName')}?'':'display:none;'"
														th:text="${stockStatistics.projectStock?.projectName != null}?${stockStatistics?.projectStock?.projectName}:'--------'"></td>

													<td class="numeric stockName" id="stockName"
														th:style="${#lists.contains(listColums,'stockName')}?'':'display:none;'">[[${stockStatistics?.projectStock?.name}]]</td>
													<td class="numeric stockModel" id="stockModel"
														th:style="${#lists.contains(listColums,'stockModel')}?'':'display:none;'">[[${stockStatistics?.projectStock?.model}]]</td>
													<td class="numeric storageTime" id="storageTime"
														th:style="${#lists.contains(listColums,'storageTime')}?'':'display:none;'"
														th:text="${stockStatistics.storageTime!=null}?${stockStatistics?.storageTime}:'--------'"></td>
													<td class="numeric inNum" id="inNum"
														th:style="${#lists.contains(listColums,'inNum')}?'':'display:none;'"
														th:text="${stockStatistics.storageTime != null}?${stockStatistics?.num}:'--------'"></td>
													<td class="numeric depotTime" id="depotTime"
														th:style="${#lists.contains(listColums,'depotTime')}?'':'display:none;'"
														th:text="${stockStatistics.depotTime!=null}?${stockStatistics?.depotTime}:'--------'"></td>
													<td class="numeric outNum" id="outNum"
														th:style="${#lists.contains(listColums,'outNum')}?'':'display:none;'"
														th:text="${stockStatistics.depotTime != null}?${stockStatistics?.num}:'--------'"></td>
													<td class="numeric newNum" id="newNum"
														th:style="${#lists.contains(listColums,'newNum')}?'':'display:none;'">[[${stockStatistics?.newNum}]]</td>
													<td class="numeric revokeNum" id="revokeNum"
														th:style="${#lists.contains(listColums,'revokeNum')}?'':'display:none;'">[[${stockStatistics?.revokeNum}]]</td>
													<td class="numeric personInCharge" id="personInCharge"
														th:style="${#lists.contains(listColums,'personInCharge')}?'':'display:none;'"
														th:text="${stockStatistics.personInCharge != null}?${stockStatistics?.personInCharge}:'--------'"></td>
													<td class="numeric customer" id="customer"
														th:style="${#lists.contains(listColums,'customer')}?'':'display:none;'"
														th:text="${stockStatistics.customer != null}?${stockStatistics?.customer}:'--------'"></td>
													<td class="numeric user" id="user"
														th:style="${#lists.contains(listColums,'user')}?'':'display:none;'">[[${stockStatistics?.user?.userName}]]</td>
													<td class="numeric revoke" id="revoke"
														th:style="${#lists.contains(listColums,'revoke')}?'':'display:none;'">
														<label th:id="|revoke${stockStatistics?.id}|"
														th:style="${stockStatistics?.revoke == true}?'color:red':'color:green'"
														th:text="${stockStatistics?.revoke == true}?'已撤销':'正常'"></label>
													</td>
													<td class="numeric">
														 <shiro:hasPermission
															name="projectStockStatistics:revoke"> 
														<button class="btn btn-primary btn-xs btcancle"
															th:id="${stockStatistics?.id}"
															th:onclick="|return revoke('${stockStatistics?.id}')|">
															<i class="fa fa-edit"> </i>撤销
														</button>  </shiro:hasPermission>
													</td>
												</tr>
												<!-- 菜单 -->
											</th:block>


										</tbody>
									</table>
								</div>
								<form method="post" id="deleteForm">
									<input name="_method" value="delete" type="hidden">
								</form>

								<div class="row">

									<div class="col-md-12">
										<div class="col-md-6">
											<div class="dataTables_info hidden-xs"
												style="margin-top: 0px;" role="status" aria-live="polite"
												th:text="|每页显示${pageList?.pageSize}行
										－ 当前页${pageList.pageNo}页 － 共${pageList.totalPage}页|"></div>
										</div>
										<div class="col-md-6">
											<ul class="pagination pagination-split pull-right"
												style="margin-top: 0px;">
												<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
													th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/projectStockStatisticss(pageNo=${pageList.upPage},pageSize=${pageSize},search=${search})}">上一页</a>
												</li>
												<li th:each="page:${pageList.navigatepageNums}"
													th:class="${page  == pageList.pageNo}?active:''"><a
													th:href="${page eq pageList.pageNo}?'javascript:void(0)':@{/projectStockStatisticss(pageNo=${page},pageSize=${pageSize},search=${search})}">[[${page}]]</a>
												</li>
												<li
													th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
													<a
													th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/projectStockStatisticss(pageNo=${pageList.nextPage},pageSize=${pageSize},search=${search})}">下一页</a>
												</li>
											</ul>
										</div>
									</div>

									<!-- 分页结束 -->
								</div>

							</section>

						</div>

					</div>


				</div>

			</div>
		</div>

		<div th:replace="public/public::myModal"></div>
		<div th:replace="admin/projectStockStatistics/column::mycolumn"></div>
		<div th:replace="admin/projectStockStatistics/revoke::myrevoke"></div>
	</div>
	<!-- 引入stockStatisticslist.js -->
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/projectStockStatistics/projectStockStatistics.js}"></script>

	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>
	<!-- Sweet alert -->
	<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
	<div th:replace="public/public_js::validator"></div>
</body>

</html>
