<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/js/progress-bar/number-pb.css}">
<link th:href="@{/plugs/sweetalert/sweetalert.css}" rel="stylesheet">
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='basic')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->


			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">
						<div class="body-nest" id="alert" th:if="${errorImport!=''}">
							<div class="alert alert-danger">
								<button data-dismiss="alert" class="close" type="button">×</button>
								<th:block th:utext="${errorImport}">
								</th:block>
							</div>

						</div>
						<div class="nest" id="tableStaticClose">
							<div class="title-alt">
								<div>
									<shiro:hasPermission name="brand:add">
										<button class="btn btn-default btn-sm"
											th:onclick="|window.location.href='@{/brand}'|">
											<i class="glyphicon glyphicon-plus"> </i> 添加
										</button>
									</shiro:hasPermission>

									<shiro:hasPermission name="brand:edit">
										<button class="btn btn-primary btn-sm"
											onclick="return toeditPage('','brand')">
											<i class="fa fa-edit"> </i>编辑
										</button>
									</shiro:hasPermission>

									<shiro:hasPermission name="brand:delete">
										<button class="btn btn-danger btn-sm"
											th:onclick="|return del('','@{/brand/}')|">
											<i class="fa fa-trash-o"> </i>删除
										</button>
									</shiro:hasPermission>

									<shiro:hasPermission name="brand:batch">
										<button class="btn btn-success" onclick="return batchImput()">
											<i class="fontawesome-upload"> </i>批量导入
										</button>
									</shiro:hasPermission>

								</div>

								<div class="titleClose">
									<a class="gone" href="#tableStaticClose"> <span
										class="entypo-cancel"></span>
									</a>
								</div>
								<div class="titleToggle">
									<a class="nav-toggle-alt" href="#tableStatic"> <span
										class="entypo-up-open"></span>
									</a>
								</div>

							</div>

							<!-- 搜索  下拉  start-->
							<!-- 	<div class="mail_header">
								<div class="col-sm-6">
									<div class="row" style="margin-bottom: 10px;">
									
										<div class="col-sm-2">
										<select class="filter-status form-control">
												<option value="10">10
												<option value="25">25
												<option value="50">50
												<option value="100">100
											</select>
										</div>
										<div class="col-sm-3">
											<input class="form-control" id="filter"
												placeholder="查找类目..." type="text">
										
											
										</div>
									</div>
								</div>
							</div> -->
							<!-- 搜索  下拉  end-->



							<div class="body-nest" id="tableStatic">

								<section id="flip-scroll">

									<table class="table table-bordered table-striped cf">
										<thead class="cf">
											<tr>
												<th class="numeric" style="width: 20px;">
													<div class="checkbox checkbox-inline"
														style="margin-top: 0px;">
														<input type="checkbox" id="checkall" name="checkall" /> <label
															for="checkall"></label>
													</div>
												</th>
												<th class="numeric">名称</th>
												<th class="numeric">使用状态</th>
												<th class="numeric">操作</th>
											</tr>
										</thead>
										<tbody>
											<!-- 目录 -->
											<th:block th:each="brand:${pageList.datas}">
												<tr>
													<td class="numeric">
														<div class="checkbox checkbox-inline"
															style="margin-top: 0px;">
															<input type="checkbox" name="ids" th:id="${brand.id}"
																class="numeric" th:value="${brand.id}"> <label
																th:for="${brand.id}"></label>
														</div>
													</td>

													<td class="numeric">[[${brand.name}]]</td>
													<td class="numeric" th:id="disBtn+${brand.id}"
														th:utext="${brand.isDisable eq true }?|<button type='button' onclick=toDisable('${brand.id}','brand') class='btn btn-danger'>禁用</button>|:|<button type='button' onclick=toDisable('${brand.id}','brand') class='btn btn-success'>启用</button>|"></td>
													<td class="numeric"><shiro:hasPermission
															name="brand:edit">
															<button class="btn btn-primary btn-xs"
																th:onclick="|return toeditPage('${brand.id}','brand')|">
																<i class="fa fa-edit"> </i>编辑
															</button>
														</shiro:hasPermission> <shiro:hasPermission name="brand:delete">
															<button class="btn btn-danger btn-xs"
																th:onclick="|return del('@{/brand/}${brand.id}','')|">
																<i class="fa fa-trash-o"> </i>删除
															</button>
														</shiro:hasPermission></td>
												</tr>
												<!-- 菜单 -->
											</th:block>


										</tbody>
									</table>

									<form method="post" id="deleteForm">
										<input name="_method" value="delete" type="hidden">
									</form>

									<div class="row">

										<div class="col-md-12">
											<div class="col-md-6">
												<div class="dataTables_info hidden-xs"
													style="margin-top: 0px;" role="status" aria-live="polite"
													th:text="|每页显示${pageList.pageSize}行
										－ 当前页${pageList.pageNo}页 － 共${pageList.totalPage}页|"></div>
											</div>
											<div class="col-md-6">
												<ul class="pagination pagination-split pull-right"
													style="margin-top: 0px;">
													<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
														th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/brands?pageNo=}+${pageList.upPage}">上一页</a>
													</li>
													<li th:each="page:${pageList.navigatepageNums}"
														th:class="${page  == pageList.pageNo}?active:''"><a
														th:href="${page eq pageList.pageNo}?'javascript:void(0)':@{/brands?pageNo=}+${page}">[[${page}]]</a>
													</li>
													<li
														th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
														<a
														th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/brands?pageNo=}+${pageList.nextPage}">下一页</a>
													</li>
												</ul>
											</div>
										</div>

										<!-- 分页结束 -->
									</div>

								</section>

							</div>

						</div>


					</div>

				</div>
			</div>

			<div th:replace="public/public::myModal"></div>
			<div th:replace="admin/brand/batch::mybatch"></div>
		</div>
	</div>
	<!-- 引入brandlist.js -->
	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/admin/brand/brandlist.js}"></script>
	<!--  END OF PAPER WRAP -->
	<script type="text/javascript"
		th:src="@{/plugs/prettyfile/bootstrap-prettyfile.js}"></script>
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Sweet alert -->
	<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
	<div th:replace="public/public_js::validator"></div>

</body>

</html>
