<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/assets/css/signin.css}">
</head>



<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>

	<div class="container">



		<div class="" id="login-wrapper" style="margin-top: 20%;">
			<div class="row">
				<div class="col-md-5 col-md-offset-4">
					<div id="logo-login">
						<h1>福山证大网站 (管理后台)</h1>
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-5 col-md-offset-4">
					<div class="account-box">
						<form role="form" th:action="@{/tologin}" method="post">

							<div class="alert alert-danger" th:if="${msg != null}">
								<button data-dismiss="alert" class="close" type="button">×</button>
								<span class="entypo-attention"></span> <strong th:text="${msg}"></strong>
							</div>

							<div class="form-group">
								<!--a href="#" class="pull-right label-forgot">Forgot email?</a-->
								<label for="inputAccountName">帐号</label> <input type="text"
									name="accountName" placeholder="账号" id="inputAccountName"
									class="form-control">
							</div>
							<div class="form-group">
								<!--a href="#" class="pull-right label-forgot">Forgot password?</a-->
								<label for="inputPassword">密码</label> <input type="password"
									placeholder="密码" id="inputPassword" name="passWord"
									class="form-control">
							</div>
							<div class="form-group">
								<!--a href="#" class="pull-right label-forgot">Forgot password?</a-->
								<label for="role">角色</label> <select class="filter-status form-control" name="userType" id="userType" >
												<option value="school_user">教师</option>
												<option value="school_admin">学校管理员</option>
												<option value="system">系统管理员</option>
											</select>
							</div>


							<div class="checkbox pull-left">
								<label> <input type="checkbox" name="rememberMe">记住我
								</label>
							</div>
							<button class="btn btn btn-primary pull-right" type="submit">
								登 录</button>
						</form>

						<div class="row-block">
							<div class="row"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<p>&nbsp;</p>
		<div style="text-align: center; margin: 0 auto;">
			<h6 style="color: #fff;">
				Copyright(C)2020 <b/> 技术支持中赤信息技术（上海）有限公司
			</h6>
		</div>

	</div>

	<!-- MAIN EFFECT -->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>

	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"
		type="text/javascript"></script>
	<script type="text/javascript" src="assets/js/map/gmap3.js"></script>
	<script type="text/javascript">
		$(function() {

			$("#test1")
					.gmap3(
							{
								marker : {
									latLng : [ -7.782893, 110.402645 ],
									options : {
										draggable : true
									},
									events : {
										dragend : function(marker) {
											$(this)
													.gmap3(
															{
																getaddress : {
																	latLng : marker
																			.getPosition(),
																	callback : function(
																			results) {
																		var map = $(
																				this)
																				.gmap3(
																						"get"), infowindow = $(
																				this)
																				.gmap3(
																						{
																							get : "infowindow"
																						}), content = results
																				&& results[1] ? results
																				&& results[1].formatted_address
																				: "no address";
																		if (infowindow) {
																			infowindow
																					.open(
																							map,
																							marker);
																			infowindow
																					.setContent(content);
																		} else {
																			$(
																					this)
																					.gmap3(
																							{
																								infowindow : {
																									anchor : marker,
																									options : {
																										content : content
																									}
																								}
																							});
																		}
																	}
																}
															});
										}
									}
								},
								map : {
									options : {
										zoom : 15
									}
								}
							});

		});
	</script>




</body>

</html>
