<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
canvas#canvas4 {
	position: relative;
	top: 20px;
}
</style>

</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='system')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->

			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">
						<!-- BLANK PAGE-->

						<div style="margin: -20px 15px;" class="nest" id="Blank_PageClose">
							<div class="title-alt">
								<h6>区域信息</h6>
								<div class="titleClose">
									<a class="gone" href="#Blank_PageClose"> <span
										class="entypo-cancel"></span>
									</a>
								</div>
								<div class="titleToggle">
									<a class="nav-toggle-alt" href="#Blank_Page_Content"> <span
										class="entypo-up-open"></span>
									</a>
								</div>

							</div>


							<div class="body-nest" id="Blank_Page_Content">
								<div class="row">
									<!-- edit form column -->
									<div class="col-md-12 personal-info">
										<form class="form-horizontal" enctype="multipart/form-data"
											id="sysReginForm" th:action="@{/admin/sysRegin}"
											method="post">
											<input type="hidden" name="_method" value="put"
												th:if="${sysRegin!=null}" /> <input type="hidden" name="id"
												th:if="${sysRegin!=null}" th:value="${sysRegin.id}">

											<div class="form-group">
												<label class="col-lg-1 control-label">区域名称：</label>
												<div class="col-lg-6">
													<input class="form-control" id="name" placeholder="请输入菜单名称"
														name="name" th:value="${sysRegin!=null}?${sysRegin.name}"
														required="required">
												</div>
											</div>

											<input type="hidden" name="hidName" id="hidName"
												th:value="${sysRegin!=null}?${sysRegin.name}">

											<div class="form-group">
												<label class="col-lg-1 control-label">区域类别：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select id="type" name="type" class="form-control"
															onchange="return changeType();">
															<option value="">---请选择区域类别---</option>
															<option
																th:selected="${sysRegin!=null}?${sysRegin.type == 0}"
																value="1">省、自治区、直辖市</option>
															<option
																th:selected="${sysRegin!=null}?${sysRegin.type == 1}"
																value="2">地级市、地区、自治区</option>
															<option
																th:selected="${sysRegin!=null}?${sysRegin.type == 1}"
																value="3">市辖区、县级市、县</option>
														</select>
													</div>
												</div>
											</div>








											<div class="form-group">
												<label class="col-lg-1 control-label">使用状态：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select name="isDisable" id="isDisable"
															class="form-control" required>
															<option value="false"
																th:selected="${sysRegin!=null}?${sysRegin.isDisable eq false}">启用中</option>
															<option value="true"
																th:selected="${sysRegin!=null}?${sysRegin.isDisable eq true}">禁用中</option>
														</select>
													</div>
												</div>
											</div>


											<div class="form-group">
												<label class="col-lg-1 control-label">描述：</label>
												<div class="col-lg-6">

													<textarea rows="5" id="description" class="col-lg-12"
														name="description" placeholder="描述"
														th:text="${sysRegin!=null}?${sysRegin.description }">
													</textarea>
												</div>
											</div>

											<div class="form-group">
												<label class="col-lg-1 control-label"></label>
												<div class="col-md-8">
													<button type="submit" class="btn btn-success"
														th:text="${sysRegin!=null?'修改':'添加'}"></button>
													<span></span> <input th:if="${sysRegin} eq null"
														class="btn btn-default" value="重置" type="reset">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF BLANK PAGE -->

				</div>
			</div>

			<!--/row-->
		</div>
	</div>
	<!--  END OF PAPER WRAP -->
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<div th:replace="public/public::myModal"></div>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>

	<script type="text/javascript" th:inline="javascript"
		th:src="@{/js/system/sysRegin/sysRegin.js}"></script>
	<div th:replace="public/public_js::validator"></div>








</body>
<script th:inline="javascript">
	/*<![CDATA[*/

	/*]]>*/
</script>

</html>
