<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/js/progress-bar/number-pb.css}">
<link th:href="@{/plugs/sweetalert/sweetalert.css}" rel="stylesheet">

<style type="text/css">
canvas#canvas4 {
	position: relative;
	top: 20px;
}
</style>
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='system')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->


			<div class="content-wrap">
				<div class="row">


					<div class="col-sm-12">

						<div class="nest" id="tableStaticClose">
							<div class="title-alt">
								<div>
									<shiro:hasPermission name="admin:user:add">
										<button class="btn btn-default btn-sm"
											th:onclick="|window.location.href='@{user}'|">
											<i class="glyphicon glyphicon-plus"> </i> 添加
										</button>
									</shiro:hasPermission>

									<shiro:hasPermission name="admin:user:edit">
										<button class="btn btn-primary btn-sm"
											onclick="return toeditPage('','user')">
											<i class="fa fa-edit"> </i>编辑
										</button>
									</shiro:hasPermission>

									<shiro:hasPermission name="admin:user:delete">
										<button class="btn btn-danger btn-sm"
											th:onclick="|return del('','@{/user/}')|">
											<i class="glyphicon glyphicon-user"> </i>删除
										</button>
									</shiro:hasPermission>

								</div>

								<div class="titleClose">
									<a class="gone" href="#tableStaticClose"> <span
										class="entypo-cancel"></span>
									</a>
								</div>
								<div class="titleToggle">
									<a class="nav-toggle-alt" href="#tableStatic"> <span
										class="entypo-up-open"></span>
									</a>
								</div>

							</div>

							<div class="body-nest" id="tableStatic">

								<section id="flip-scroll">

									<table class="table table-bordered table-striped cf">
										<thead class="cf">
											<tr>
												<th class="numeric" style="width: 20px;">
													<div class="checkbox checkbox-inline"
														style="margin-top: 0px;">
														<input type="checkbox" id="checkall" name="checkall" /> <label
															for="checkall"></label>
													</div>
												</th>
												<th class="numeric">用户姓名</th>
												<th class="numeric">帐号所属</th>
												<th class="numeric">角色</th>
												<th class="numeric">使用状态</th>
												<th class="numeric">上次登陆时间</th>
												<th class="numeric">上次登陆Ip</th>
												<th class="numeric">操作</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user:${pageList.datas}">
												<td class="numeric">
													<div class="checkbox checkbox-inline"
														style="margin-top: 0px;">
														<input type="checkbox" name="ids" th:id="${user.id}"
															class="numeric" th:value="${user.id}"> <label
															th:for="${user.id}"></label>
													</div>
												</td>
												<td class="numeric">[[${user.userName }]]</td>
												<td class="numeric">[[${user.accountName }]]</td>
												<td class="numeric"
													th:text="${user.role!=null?user.role.roleName:''}">[[${user.role.roleName
													}]]</td>
												<td class="numeric" th:id="disBtn+${user.id}"
													th:utext="${user.isDisable eq true }?|<button type='button' onclick=toDisable('${user.id}','user') class='btn btn-danger'>禁用</button>|:|<button type='button' onclick=toDisable('${user.id}','user') class='btn btn-success'>启用</button>|"></td>
												<td class="numeric">[[${user.lastLoginTime }]]</td>
												<td class="numeric">[[${user.lastLoginIp }]]</td>
												<td class="numeric"><shiro:hasPermission
														name="admin:user:edit">
														<button class="btn btn-primary btn-xs"
															th:onclick="|return toeditPage('${user.id}','user')|">
															<i class="fa fa-edit"> </i>编辑
														</button>

													</shiro:hasPermission> <shiro:hasPermission name="admin:user:delete">
														<button class="btn btn-danger btn-xs"
															th:onclick="|return del('@{/user/}${user.id}','')|">
															<i class="fa fa-trash-o"> </i>删除
														</button>
													</shiro:hasPermission></td>
											</tr>



										</tbody>
									</table>

									<form method="post" id="deleteForm">
										<input name="_method" value="delete" type="hidden">
									</form>


									<div class="row">

										<div class="col-md-12">
											<div class="col-md-6">
												<div class="dataTables_info hidden-xs"
													style="margin-top: 0px;" role="status" aria-live="polite"
													th:text="|每页显示${pageList.pageSize}行
										－ 当前页${pageList.pageNo}页 － 共${pageList.totalPage}页|"></div>
											</div>
											<div class="col-md-6">
												<ul class="pagination pagination-split pull-right"
													style="margin-top: 0px;">
													<li th:class="${pageList.pageNo } eq 1 ?disabled:''"><a
														th:href="${pageList.pageNo} eq 1?'javascript:void(0);':@{/users?pageNo=}+${pageList.upPage}">上一页</a>
													</li>
													<li th:each="page:${pageList.navigatepageNums}"
														th:class="${page  == pageList.pageNo}?active:''"><a
														th:href="${page eq pageList.pageNo}?'javascript:void(0)':@{/users?pageNo=}+${page}">[[${page}]]</a>
													</li>
													<li
														th:class="${pageList.pageNo eq pageList.totalPage}?disabled:''">
														<a
														th:href="${pageList.pageNo eq pageList.totalPage}?'javascript:void(0);':@{/users?pageNo=}+${pageList.nextPage}">下一页</a>
													</li>
												</ul>
											</div>
										</div>

										<!-- 分页结束 -->
									</div>

								</section>

							</div>

						</div>


					</div>

				</div>
			</div>
			<div th:replace="public/public::myModal"></div>

		</div>
	</div>
	<!--  END OF PAPER WRAP -->
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Sweet alert -->
	<script th:src="@{/plugs/sweetalert/sweetalert.min.js}"></script>
	<div th:replace="public/public_js::validator"></div>




</body>

</html>
